// hero page
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto auto auto auto auto auto  auto;
    grid-gap: 0em;
    grid-template-areas:    "header"
                            "about"
                            "instagram"
                            "intrest"
                            "current"
                            "contact"
                            "top"
                            "social"
                            "footer";
    @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100vh auto auto auto auto auto;
        grid-template-areas:    "header header header header"
                                "about about instagram instagram"
                                "intrest intrest intrest intrest"
                                "current current current current"
                                "contact contact contact contact"
                                "footer top top social";
    }   
} 
.about,
.instagram,
.intrest {padding: 1em;}

header { grid-area: header; }
footer { grid-area: footer; }
.about { 
    background-color:  lighten($color-accent-two, 20%);
    grid-area: about; 
    @media (min-width: $small-screen){padding-left: 24%}
}
.instagram { 
    background-color:  lighten($color-accent-two, 20%);
    grid-area: instagram; 
    @media (min-width: $small-screen){padding-right: 24%}
}
.intrest { 
    grid-area: intrest; 
    @media (min-width: $small-screen){padding: 1em 12%}
}
.current  { grid-area: current; }
.contact { grid-area: contact; }
.top { grid-area: top; }
.social { grid-area: social; }




.contact{
background: linear-gradient(rgba($color-accent-two, 0.5), rgba($color-accent-two, 0.5)), url('../img/atl-bg.jpg') no-repeat;
background-size: cover;
background-blend-mode: overlay;
}