// hero Layout
.hero--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto auto auto auto auto auto auto;
    @media (min-width: $extra-small-screen){
        grid-template-rows: 100vh auto auto auto auto auto auto auto auto;
    }
    grid-gap: 0em;
    grid-template-areas:    "header"
                            "about"
                            "instagram"
                            "intrest"
                            "current"
                            "contact"
                            "top"
                            "social"
                            "copy";
    @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100vh auto auto auto auto auto;
        grid-template-areas:    "header header header header"
                                "about about instagram instagram"
                                "intrest intrest intrest intrest"
                                "current current current current"
                                "contact contact contact contact"
                                "copy top top social";
    }   
    header { grid-area: header; }
    #about { 
        grid-area: about;
        padding: 1em;
        background-color:  lighten($color-accent-two, 20%);
        @media (min-width: $small-screen){ padding: 110px 1em 110px 24%; }
    }
    #instagram { 
        grid-area: instagram; 
        background-color:  lighten($color-accent-two, 20%);
        padding: 1em;
        @media (min-width: $small-screen){ padding: 110px 24% 110px 1em; }
    }
    #intrest { 
        grid-area: intrest;
        padding: 1em 1em 120px 1em; 
        @media (min-width: $small-screen){ padding: 110px 12% 140px 12%; }
    }
    #current  { grid-area: current; }
    #contact { grid-area: contact; }
    .top { grid-area: top; }
    .social { grid-area: social; }
    .copy { grid-area: copy; }
} 