header {
  position: relative;
  overflow: hidden;

  .owl-1 {background-image: url(../img/IMG_5057.jpg);}  
  .owl-2 {background-image: url(../img/IMG_3782.jpg);}  
  .owl-3 {background-image: url(../img/IMG_3308.jpg);}  

  .owl-slide-overlay {
    background-color: rgba($color-accent-two, 0.2);  
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  .owl-slide-text-box {
    background-color: rgba($color-base-dark, 0.5);  
    position: absolute;
    left: 50%;
    top: 40%;
    @media (min-width: $extra-small-screen) { top: 50%; }
    transform: translateX(-50%) translateY(-50%);
    padding: 10px 30px;
    border: 1px solid #fff;
  }

  .owl-carousel .owl-slide {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .owl-carousel .owl-slide-animated {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
  }

  .owl-carousel .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }

  .owl-carousel .owl-slide-title.is-transitioned {transition-delay: 0.8s;}
  .owl-carousel .owl-slide-subtitle.is-transitioned {transition-delay: 0.9  5s;}
  .owl-carousel .owl-slide-cta.is-transitioned {transition-delay: 1s;}

  .owl-dots, 
  .owl-nav {
      left: 50%;
      top: 40%;
      @media (min-width: $extra-small-screen) { top: 50%; }
      transform: translateX(-50%);
      position: absolute;
  }
  .owl-nav {
      width: 100%;
      button.owl-prev {left: 12%;}
      button.owl-next{right: 12%;}
      button.owl-prev, button.owl-next {position: absolute; top:50%; transform: translateY(-50%);}
  }
  .owl-dots{
    top: 70%;
    @media (min-width: $extra-small-screen) { top: 90%; }
  }
}

